.selection { grid-area: top; }
.solar-system { grid-area: left; }
.test { grid-area: right; }

.grid-container {
  display: grid;
  grid-template-areas:
    'top top'
    'right left';
  gap: 10px;
  background-color: rgba(50, 50, 50, .85);
  padding: 10px;
  place-items: center;
}

.selection {
  color: black;
}

.solar-system {
  --size: 450px;
  position: relative;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  margin: 40px;
}

.ares, .taurus, .gemini, .cancer, .leo, .virgo, .libra, .scorpio, .sagittarius, .capricorn, .aquarius, .pisces {
  position: absolute;
  height: 50%;
  width: 2px;
  top: 0%;
  left: 50%;
  background-color: white;
  transform-origin: 50% 100%;
  transform: rotate(var(--rotate));
}

.aresLabel, .taurusLabel, .geminiLabel, .cancerLabel, .leoLabel, .virgoLabel, .libraLabel, .scorpioLabel, .sagittariusLabel, .capricornLabel, .aquariusLabel, .piscesLabel {
  position: absolute;
  height: 50%;
  width: 2px;
  top: 0%;
  left: 50%;
  transform-origin: 50% 100%;
  transform: rotate(var(--rotate));
}

.aresLabel::before {
  content: "";
  position: absolute;
  top: 80px;
  left: 0px;
  width: 50px;
  height: 50px;
  background-image: url("../../../assets/images/Aries.svg.png");
  background-size: cover;
}

.taurusLabel::before {
  content: "";
  position: absolute;
  top: 80px;
  left: 0px;
  width: 50px;
  height: 50px;
  background-image: url("../../../assets/images/Taurus.svg.png");
  background-size: cover;
}

.geminiLabel::before {
  content: "";
  position: absolute;
  top: 80px;
  left: 0px;
  width: 50px;
  height: 50px;
  background-image: url("../../../assets/images/Gemini.svg.png");
  background-size: cover;
}

.cancerLabel::before {
  content: "";
  position: absolute;
  top: 80px;
  left: 0px;
  width: 50px;
  height: 50px;
  background-image: url("../../../assets/images/Cancer.svg.png");
  background-size: cover;
}

.leoLabel::before {
  content: "";
  position: absolute;
  top: 80px;
  left: 0px;
  width: 50px;
  height: 50px;
  background-image: url("../../../assets/images/Leo.svg.png");
  background-size: cover;
}

.virgoLabel::before {
  content: "";
  position: absolute;
  top: 80px;
  left: 0px;
  width: 50px;
  height: 50px;
  background-image: url("../../../assets/images/Virgo.svg.png");
  background-size: cover;
}

.libraLabel::before {
  content: "";
  position: absolute;
  top: 80px;
  left: 0px;
  width: 50px;
  height: 50px;
  background-image: url("../../../assets/images/Libra.svg.png");
  background-size: cover;
}

.scorpioLabel::before {
  content: "";
  position: absolute;
  top: 80px;
  left: 0px;
  width: 50px;
  height: 50px;
  background-image: url("../../../assets/images/Scorpius.svg.png");
  background-size: cover;
}

.sagittariusLabel::before {
  content: "";
  position: absolute;
  top: 80px;
  left: 0px;
  width: 50px;
  height: 50px;
  background-image: url("../../../assets/images/Sagittarius.svg.png");
  background-size: cover;
}

.capricornLabel::before {
  content: "";
  position: absolute;
  top: 80px;
  left: 0px;
  width: 50px;
  height: 50px;
  background-image: url("../../../assets/images/Capricornus.svg.png");
  background-size: cover;
}

.aquariusLabel::before {
  content: "";
  position: absolute;
  top: 80px;
  left: 0px;
  width: 50px;
  height: 50px;
  background-image: url("../../../assets/images/Aquarius.svg.png");
  background-size: cover;
}

.pisces::before {
  content: "";
  position: absolute;
  top: 80px;
  left: 0px;
  width: 50px;
  height: 50px;
  background-image: url("../../../assets/images/pisces.svg.png");
  background-size: cover;
}

.mercury, .venus, .mars, .jupiter, .saturn, .uranus, .neptune, .pluto {
  position: absolute;
  height: 50%;
  width: 2px;
  top: 0%;
  left: 50%;
  /*background-color: red;*/
  transform-origin: 50% 100%;
  transform: rotate(var(--rotate));
}

/*normalized planet sizes
1500, 3800, (4000), 2100, 43400, 36200, 15800, 15300, 715*/

.mercury::before {
  content: "";
  --size: 1.6em;
  --center: -0.8em;
  position: absolute;
  border-radius: 50%;
  background-color: #FF8C00;
  width: var(--size);
  height: var(--size);
  left: var(--center);
  top: var(--center);
  box-shadow:
    inset 0 0 10px rgba(0,0,0,0.5),
    inset 0 0 20px rgba(0,0,0,0.3),
    inset 0 0 30px rgba(0,0,0,0.2),
    inset 0 0 40px rgba(0,0,0,0.1);
  opacity: 0.95;
  transition: opacity 0.2s;
  white-space: nowrap;
}
  
.mercury:hover::before {
  content: "mercury";
  opacity: 1;
}

.venus::before {
  content: "";
  --size: 2.8em;
  --center: -1.4em;
  position: absolute;
  border-radius: 50%;
  background-color: #B8860B;
  width: var(--size);
  height: var(--size);
  left: var(--center);
  top: var(--center);
  box-shadow:
    inset 0 0 10px rgba(0,0,0,0.5),
    inset 0 0 20px rgba(0,0,0,0.3),
    inset 0 0 30px rgba(0,0,0,0.2),
    inset 0 0 40px rgba(0,0,0,0.1);
  opacity: 0.95;
  transition: opacity 0.2s;
  white-space: nowrap;
}
  
.venus:hover::before {
  content: "venus";
  opacity: 1;
}

.mars::before {
  content: "";
  --size: 2.2em;
  --center: -1.1em;
  position: absolute;
  border-radius: 50%;
  background-color: #B22222;
  width: var(--size);
  height: var(--size);
  left: var(--center);
  top: var(--center);
  box-shadow:
    inset 0 0 10px rgba(0,0,0,0.5),
    inset 0 0 20px rgba(0,0,0,0.3),
    inset 0 0 30px rgba(0,0,0,0.2),
    inset 0 0 40px rgba(0,0,0,0.1);
  opacity: 0.95;
  transition: opacity 0.2s;
  white-space: nowrap;
}
  
.mars:hover::before {
  content: "mars";
  opacity: 1;
}

.jupiter::before {
  content: "";
  --size: 5em;
  --center: -2.5em;
  position: absolute;
  border-radius: 50%;
  background-color: #EEE8AA;
  width: var(--size);
  height: var(--size);
  left: var(--center);
  top: var(--center);
  box-shadow:
    inset 0 0 10px rgba(0,0,0,0.5),
    inset 0 0 20px rgba(0,0,0,0.3),
    inset 0 0 30px rgba(0,0,0,0.2),
    inset 0 0 40px rgba(0,0,0,0.1);
  opacity: 0.95;
  transition: opacity 0.2s;
  white-space: nowrap;
}
  
.jupiter:hover::before {
  content: "jupiter";
  opacity: 1;
}

.saturn::before {
  content: "";
  --size: 4em;
  --center: -2em;
  position: absolute;
  border-radius: 50%;
  background-color: #FF7F50;
  width: var(--size);
  height: var(--size);
  left: var(--center);
  top: var(--center);
  box-shadow:
    inset 0 0 10px rgba(0,0,0,0.5),
    inset 0 0 20px rgba(0,0,0,0.3),
    inset 0 0 30px rgba(0,0,0,0.2),
    inset 0 0 40px rgba(0,0,0,0.1);
  opacity: 0.95;
  transition: opacity 0.2s;
  white-space: nowrap;
}
  
.saturn:hover::before {
  content: "saturn";
  opacity: 1;
}

.uranus::before {
  content: "";
  --size: 3em;
  --center: -1.5em;
  position: absolute;
  border-radius: 50%;
  background-color: #7FFFD4;
  width: var(--size);
  height: var(--size);
  left: var(--center);
  top: var(--center);
  box-shadow:
    inset 0 0 10px rgba(0,0,0,0.5),
    inset 0 0 20px rgba(0,0,0,0.3),
    inset 0 0 30px rgba(0,0,0,0.2),
    inset 0 0 40px rgba(0,0,0,0.1);
  opacity: 0.95;
  transition: opacity 0.2s;
  white-space: nowrap;
}
  
.uranus:hover::before {
  content: "uranus";
  opacity: 1;
}

.neptune::before {
  content: "";
  --size: 3em;
  --center: -1.5em;
  position: absolute;
  border-radius: 50%;
  background-color: #00FFFF;
  width: var(--size);
  height: var(--size);
  left: var(--center);
  top: var(--center);
  box-shadow:
    inset 0 0 10px rgba(0,0,0,0.5),
    inset 0 0 20px rgba(0,0,0,0.3),
    inset 0 0 30px rgba(0,0,0,0.2),
    inset 0 0 40px rgba(0,0,0,0.1);
  opacity: 0.95;
  transition: opacity 0.2s;
  white-space: nowrap;
}
  
.neptune:hover::before {
  content: "neptune";
  opacity: 1;
}

.pluto::before {
  content: "";
  --size: 1.2em;
  --center: -0.6em;
  position: absolute;
  border-radius: 50%;
  background-color: #FFEBCD;
  width: var(--size);
  height: var(--size);
  left: var(--center);
  top: var(--center);
  box-shadow:
    inset 0 0 10px rgba(0,0,0,0.5),
    inset 0 0 20px rgba(0,0,0,0.3),
    inset 0 0 30px rgba(0,0,0,0.2),
    inset 0 0 40px rgba(0,0,0,0.1);
  opacity: 0.95;
  transition: opacity 0.2s;
  white-space: nowrap;
}

.pluto:hover::before {
  content: "pluto";
  opacity: 1;
}

.test {
  --size: 450px;
  position: relative;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  margin: 15px;
}

.submit {
  padding: 5px 10px 5px 10px;
  border-radius: 0.4rem;
  background-color: rgb(214, 135, 135);
}

.selectOpts {
  width: 200px;
  height: 25px;
  margin: 10px;
}