p {
  color: white;
  justify-content: center;
}

.solar-system {
  --size: 450px;
  position: relative;
  width: var(--size);
  height: var(--size);
  border: 8px solid black;
  border-radius: 50%;
}

.ares, .taurus, .gemini, .cancer, .leo, .virgo, .libra, .scorpio, .sagittarius, .capricorn, .aquarius, .pisces {
  position: absolute;
  height: 50%;
  width: 2px;
  top: 0%;
  left: 50%;
  background-color: green;
  transform-origin: 50% 100%;
  transform: rotate(var(--rotate));
}

.mercury, .venus, .mars, .jupiter {
  position: absolute;
  height: 40%;
  width: 2px;
  top: 10%;
  left: 50%;
  background-color: red;
  transform-origin: 50% 100%;
  transform: rotate(var(--rotate));
}

.mercury::before {
  content: ">>";
  color: red;
}

.venus {
  width: 4px;
}


