<!--.response is component of api's response
<div *ngFor="let item of apiList.response">
  <h3>planetName</h3><span class="text-white">{{item.name}} @ {{item.const}}</span>
</div>
-->
<div class ="grid-container">

<div class="solar-system">
  <div class="ares" [style.--rotate.deg]="aresRotation"></div>
  <div class="taurus" [style.--rotate.deg]="taurusRotation"></div>
  <div class="gemini" [style.--rotate.deg]="geminiRotation"></div>
  <div class="cancer" [style.--rotate.deg]="cancerRotation"></div>
  <div class="leo" [style.--rotate.deg]="leoRotation"></div>
  <div class="virgo" [style.--rotate.deg]="virgoRotation"></div>
  <div class="libra" [style.--rotate.deg]="libraRotation"></div>
  <div class="scorpio" [style.--rotate.deg]="scorpioRotation"></div>
  <div class="sagittarius" [style.--rotate.deg]="sagittariusRotation"></div>
  <div class="capricorn" [style.--rotate.deg]="capricornRotation"></div>
  <div class="aquarius" [style.--rotate.deg]="aquariusRotation"></div>
  <div class="pisces" [style.--rotate.deg]="piscesRotation"></div>

  <div class="mercury" [style.--rotate.deg]="mercuryRotation"></div>
  <div class="venus" [style.--rotate.deg]="venusRotation"></div>
  <div class="mars" [style.--rotate.deg]="marsRotation"></div>
  <div class="jupiter" [style.--rotate.deg]="jupiterRotation"></div>
  <div class="saturn" [style.--rotate.deg]="saturnRotation"></div>
  <div class="uranus" [style.--rotate.deg]="uranusRotation"></div>
  <div class="neptune" [style.--rotate.deg]="neptuneRotation"></div>
  <div class="pluto" [style.--rotate.deg]="plutoRotation"></div>
</div>

<!--.data is component of api's response-->
<div class="horizon">
  <div class="horizonData" *ngFor="let item of apiList2.data">{{item.name}} @ {{item.constellation}}, time: {{item.rightAscension.hours}}: {{item.rightAscension.minutes}}</div>
</div>

<div class="save">
<button (click)="submit()" class="bg-white px-5 py-2 rounded-md shadow-xl">Take snapshot</button>
</div>

</div>
