orbital map + time above horizon
<br>
<!--not my code, just testing-->
<!--<p>{{ time$ | async | date: 'hh:mm:ss' }}</p>-->

<!--.response is component of api's response-->
<div *ngFor="let item of apiList.response">
  <h3>planetName</h3><span class="text-white">{{item.name}} @ {{item.const}}</span>
</div>

<!--.data is component of api's response-->
<div *ngFor="let item of apiList2.data">
  <!--use raw instead of hours/minutes, truncate to 2 decimal points-->
  <h3>planet</h3><span class="text-white">{{item.name}} @ {{item.constellation}}, time {{item.rightAscension.hours}}: {{item.rightAscension.minutes}}</span>
</div>

<button (click)="submit()" class="bg-white px-5 py-2 rounded-md shadow-xl">Save Current Conditions</button>

<div class="container">
  <div class="sun"></div>
  <div class="mercury"></div>
  <div class="venus"></div>
</div>
