Short Description of purpose for user- output is based on current position on Earth.

List home location details, name+long+lat

Current home location: {{location.longitude}}, {{location.latitude}};
<table>
  <tr>
    <td>{{location.home}}</td>
    <td>{{location.longitude}}</td>
    <td>{{location.latitude}}</td>
  </tr>
</table>

<br>

<p>Add popular location</p>
<div class="form-container">
<form [formGroup]="geolocationForm" (ngSubmit)="submit()">
  <select id="popularForm" formName="geolocationPicker" formControlName="geolocation">
    <option [ngValue]="null" disabled>Select Country</option>
    <option *ngFor="let geolocation of geolocations" [ngValue]="geolocation">{{geolocation.name}}</option>
  </select>
  <br>
  <button class="submit" type="submit">Submit</button>
</form>
</div>

<p>List of saved locations</p>

<div>
  <table class="geoTable">
    <thead>
      <tr>
        <td>name</td>
        <td>latitude</td>
        <td>longitude</td>
        <td>isHome</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let location of retrievedLocations">
        <td>{{location.name}}</td> 
        <td>{{location.latitude}}</td>
        <td>{{location.longitude}}</td>
        <td>{{location.home}}</td>
        <button class="submit" (click)="deleteLocation(location)">Remove</button>
        <button class="submit" (click)="updateLocation(location)">Make home</button>
      </tr>
    </tbody>
  </table>
</div>

<p>menu to add location by inputting long/lat</p>

<div class="form-container">
<form [formGroup]="addLocationForm" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="name" placeholder="Enter location name"><br>
  <input type="text" formControlName="longitude" placeholder="Enter location longitude"><br>
  <input type="text" formControlName="latitude" placeholder="Enter location latitude"><br>
  <button class="submit" type="submit">Submit</button>
</form>
</div>

