Short Description of purpose for user- output is based on current position on Earth.

drop-down? menu with list of locations saved for the user

option to add hotspot or custom location based on long/lat

A submit button to save/update/delete the choice

List for saved locations
<br>

<form [formGroup]="geolocationForm" (ngSubmit)="submit()">
  <select formName="geolocationPicker" formControlName="geolocation">
    <option [ngValue]="null" disabled>Select Country</option>
    <option *ngFor="let geolocation of geolocations" [ngValue]="geolocation.name">{{geolocation.name}}</option>
  </select>
  <br>
  <button type="submit" class="bg-white px-5 py-2 rounded-md shadow-xl">Submit</button>
</form>
