<p>confirm selection, add to right sidebar?</p>

<form [formGroup]="constellationForm" (ngSubmit)="submit()">
  <select id="constForm" formName="constellationPicker" formControlName="constellation" [(ngModel)]="selectedConstellation">
    <option [ngValue]="null" disabled>Select Constellation</option>
    <option *ngFor="let constellation of constellations" [ngValue]="constellation.name">{{constellation.name}}</option>
  </select>
  <br>
  <button class="submit" type="submit">Submit</button>

  <p>{{getSelectedConstellationName()}}</p>
</form>

<div>
  <img class="constImg" [src]="selectedConstellation?.imgURL" *ngIf="selectedConstellation?.imgURL">
</div>

<p>this can be 1:1, 1:2, 1:4, etc..just need to figure out how to get the data here</p>