<div id="sidebar">
<a routerLink="/about" class="sidebarLink">About</a><br>
  <a routerLink="/register" class="sidebarLink">Reg</a><br>
  <a routerLink="/login" class="sidebarLink">log</a><br>
  <a routerLink="/sky-condition" class="sidebarLink">Current sky</a><br>
  <a routerLink="/geolocation" class="sidebarLink">Select location</a><br>
  <a routerLink="/constellation" class="sidebarLink">Track constellation</a><br>
  <a routerLink="/view-saved-date" class="sidebarLink">View saved date</a><br>
  <a routerLink="/harmonic-mapping" class="sidebarLink">Harmonic mapping</a><br>
</div>
